body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }
  
  .card {
    background-color: #b86767;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 673px;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 5px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  
  
  /* Media query for small screen sizes */
  @media (max-width: 600px) {
    form {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      padding: 10px;
    }
  
    input[type="text"],
    textarea {
      width: 100%;
    }
  }